@use './breakpoints' as br;
@use '../vars/vars' as vars;

@mixin font-primary {
  font-family: vars.$font-primary;
}

@mixin font-secondary {
  font-family: vars.$font-secondary;
}

@mixin font-third {
  font-family: vars.$font-third;
}

@mixin text-lines($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin title-display {
  @include font-secondary;
  font-size: vars.$text-heading-display;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 6rem */
  letter-spacing: -0.15rem;
}

@mixin h1 {
  @include font-secondary;
  font-size: vars.$text-heading-h-1;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 4.8rem */
  letter-spacing: -0.06rem;
}

@mixin h2 {
  @include font-secondary;
  font-size: vars.$text-heading-h-2;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 3.6rem */
}

@mixin h3 {
  @include font-secondary;
  font-size: vars.$text-heading-h-3;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 2.7rem */
}

@mixin h4 {
  @include font-secondary;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.8rem */
}

@mixin h5 {
  @include font-secondary;
  font-size: vars.$text-heading-h-5;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.65rem */
}

@mixin text-large {
  @include font-primary;
  font-size: vars.$text-large;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 2.025rem */
}

@mixin text-main {
  @include font-primary;
  font-size: vars.$text-main;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.005rem;
}

@mixin text-small {
  @include font-primary;
  font-size: vars.$text-small;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.3125rem */
  letter-spacing: 0.00438rem;
}

@mixin text-btn {
  @include font-primary;
  font-size: vars.$text-main;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 1.25rem */
  letter-spacing: 0.005rem;
}

@mixin text-btn-small {
  @include font-primary;
  font-size: vars.$text-small;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 1.09375rem */
  letter-spacing: 0.00438rem;
}

@mixin rich-text {
  p:not(:last-child),
  ul:not(:last-child) {
    margin-bottom: vars.$space-lg;
  }

  b,
  strong {
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: vars.$space-md;
  }

  ul {
    padding-left: vars.$space-md;
    list-style: disc;

    li {
      margin-bottom: vars.$space-xs;
    }
  }

  ol {
    padding-left: vars.$space-md;

    list-style: decimal;

    li {
      margin-bottom: vars.$space-xs;
    }
  }
}
