:root {
  --text-large: 1.5rem;
  --text-main: 1rem;
  --text-small: 0.875rem;
  --text-heading-display: 6rem;
  --text-heading-h-1: 6rem;
  --text-heading-h-2: 5rem;
  --text-heading-h-3: 4rem;
  --text-heading-h-4: 2.25rem;
  --text-heading-h-5: 1.5rem;
}

@media (max-width: 1023px) {
  :root {
    --text-large: 1.5rem;
    --text-heading-display: 2.75rem;
    --text-heading-h-1: 2.75rem;
    --text-heading-h-2: 2.5rem;
    --text-heading-h-3: 2rem;
    --text-heading-h-4: 1.75rem;
    --text-heading-h-5: 1.5rem;
  }
}
