$text-large: var(--text-large);
$text-main: var(--text-main);
$text-small: var(--text-small);
$text-heading-display: var(--text-heading-display);
$text-heading-h-1: var(--text-heading-h-1);
$text-heading-h-2: var(--text-heading-h-2);
$text-heading-h-3: var(--text-heading-h-3);
$text-heading-h-4: var(--text-heading-h-4);
$text-heading-h-5: var(--text-heading-h-5);
