.section {
  padding: 2rem 0; // Replace $space-lg with a value
  display: flex;
  align-items: center;

  .container {
    position: relative;
    width: 100%;
  }

  .embla_viewport {
    width: 100%;
    grid-column: span 12;
    position: relative;
    overflow: hidden;
    margin: auto;
    --slide-height: 33rem; // Adjust slide height as needed
    --slide-spacing: 1rem; // Space between slides
    --slide-size: 33%; // Adjust the percentage width for slides

    &.is_buttons {
      padding-top: 4.5rem;
      @include tablet {
        padding-top: 3rem;
      }
    }
  }

  .embla_container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
    gap: var(--slide-spacing); // Ensure spacing between slides
    @include tablet {
      gap: 0.5rem;
      padding-left: calc(2 * $padding-global);
    }
  }

  .controls {
    position: absolute;
    top: 0;
    right: $padding-global;
    display: flex;
    flex-direction: column;
    gap: $padding-global;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $padding-global;

    .embla_button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border: $stroke-icon solid $neutral-600;
      border-radius: 50%;
      padding: 0.5rem;
      transition: background-color $duration-base $out-cubic;
      cursor: pointer;

      @include tablet {
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.25rem;
        stroke-width: 3 !important;
      }

      svg {
        transition: transform $duration-base $out-cubic;
        width: 100% !important;
      }

      &:hover {
        background-color: $neutral-300;

        svg {
          transform: scale(0.85);
        }
      }
    }
  }

  .slide {
    height: var(--slide-height);
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    margin: 0 calc(0.5rem); // Adjust spacing between slides
    flex: 0 0 var(--slide-size); // Control slide width
    min-width: 0;
    padding-left: var(--slide-spacing); // Default scale
    transition: transform 0.3s ease-out;
    transform: scale(0.75); // Default scale
    &.slide_active {
      transform: scale(1); // Scale active slide
    }
    @include tablet {
      transform: scale(1);
      flex: 0 0 40%;
      height: 20.9rem;
      margin: 0;
    }
    @include mobile {
      flex: 0 0 80%;
      height: 20.9rem;
    }
  }
}
