.date_picker {
  .input_wrap {
    display: flex;
    flex-direction: column;

    .input {
      display: flex;
      flex-direction: row;
      border: 1px solid $neutral-300;
      align-items: center;
      justify-content: space-between;
      column-gap: $space-sm;
      border-radius: $radius-small;
      padding-right: 0;
      overflow: hidden;

      .input_group {
        padding: $space-sm $space-md;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .label {
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 0.75rem */
        }

        .input_date {
          pointer-events: none;
          display: flex;
          @include text-main;
          opacity: 0.5;

          &.input_date_active {
            opacity: 1;
          }
        }
      }

      .icon_button {
        border-radius: 0;
      }
    }
  }
}

.popover {
  &[data-entering] {
    animation: popover-slide calc($duration-base / 2) $out-cubic;
  }

  &[data-exiting] {
    animation: popover-slide calc($duration-base / 2) reverse $out-cubic;
  }
}

@keyframes popover-slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
