.section {
  padding: $space-section-sm 0;

  .video {
    grid-column: 1 / span 8;
    height: 25rem;
    border-radius: $radius-small;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    @include tablet {
      grid-column: span 12;
    }

    & > * {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
    }
  }
}
