:root {
  --in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --in-out-expo: cubic-bezier(1, 0, 0, 1);
  --in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --duration-golden: 1.618s;
  --duration-base: 0.6180469715698392s;
  --mobile: 640px;
  --tablet: 1024px;
  --white: #fff;
  --black: #000;
  --neutral-100: #f6f0ec;
  --neutral-200: #e8e2df;
  --neutral-300: #dad0c9;
  --neutral-400: #766a62;
  --neutral-500: #29211c;
  --neutral-600: #1f130b;
  --primary-100: #cce1e8;
  --primary-200: #a8cbd7;
  --primary-300: #36606e;
  --primary-400: #284853;
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --font-third: var(--font-third);
  --base: 16;
  --container-gutter: 1.5rem;
  --page-width: 2200px;
  --padding-global: 1.5rem;
  --padding-vertical-none: 0;
  --padding-vertical-sm: 2rem;
  --padding-vertical-md: 4rem;
  --padding-vertical-lg: 8rem;
  --radius-none: 0;
  --radius-small: 0.25rem;
  --radius-medium: 0.5rem;
  --radius-large: 0.75rem;
  --radius-full: 624.9375rem;
  --radius-round: 100%;
  --space-section-none: 0;
  --space-section-sm: 2rem;
  --space-section-md: 4rem;
  --space-section-lg: 8rem;
  --space-none: 0;
  --space-2xs: 0.125rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 3rem;
  --space-3xl: 4rem;
  --space-4xl: 6rem;
  --space-5xl: 8rem;
  --stroke-icon: 4px;
  --text-large: 1.5rem;
  --text-main: 1rem;
  --text-small: 0.875rem;
  --text-heading-display: 6rem;
  --text-heading-h-1: 6rem;
  --text-heading-h-2: 5rem;
  --text-heading-h-3: 4rem;
  --text-heading-h-4: 2.25rem;
  --text-heading-h-5: 1.5rem;
}

@media (max-width: 1023px) {
  :root {
    --container-gutter: 1rem;
    --padding-global: 1rem;
    --padding-vertical-sm: 1.5rem;
    --padding-vertical-md: 3rem;
    --padding-vertical-lg: 6rem;
    --space-section-sm: 1.5rem;
    --space-section-md: 3rem;
    --space-section-lg: 6rem;
    --space-2xl: 2.5rem;
    --space-3xl: 3rem;
    --space-4xl: 4.5rem;
    --space-5xl: 6rem;
    --stroke-icon: 3px;
    --text-large: 1.5rem;
    --text-heading-display: 2.75rem;
    --text-heading-h-1: 2.75rem;
    --text-heading-h-2: 2.5rem;
    --text-heading-h-3: 2rem;
    --text-heading-h-4: 1.75rem;
    --text-heading-h-5: 1.5rem;
  }
}
