/* Utility classes for colors */

.background-color-white {
  background-color: var(--white);
}

.text-white {
  color: var(--white);
}

.background-color-black {
  background-color: var(--black);
}

.text-black {
  color: var(--black);
}

.background-color-neutral-100 {
  background-color: var(--neutral-100);
}

.text-neutral-100 {
  color: var(--neutral-100);
}

.background-color-neutral-200 {
  background-color: var(--neutral-200);
}

.text-neutral-200 {
  color: var(--neutral-200);
}

.background-color-neutral-300 {
  background-color: var(--neutral-300);
}

.text-neutral-300 {
  color: var(--neutral-300);
}

.background-color-neutral-400 {
  background-color: var(--neutral-400);
}

.text-neutral-400 {
  color: var(--neutral-400);
}

.background-color-neutral-500 {
  background-color: var(--neutral-500);
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.background-color-neutral-600 {
  background-color: var(--neutral-600);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.background-color-primary-100 {
  background-color: var(--primary-100);
}

.text-primary-100 {
  color: var(--primary-100);
}

.background-color-primary-200 {
  background-color: var(--primary-200);
}

.text-primary-200 {
  color: var(--primary-200);
}

.background-color-primary-300 {
  background-color: var(--primary-300);
}

.text-primary-300 {
  color: var(--primary-300);
}

.background-color-primary-400 {
  background-color: var(--primary-400);
}

.text-primary-400 {
  color: var(--primary-400);
}

/* Utility classes for fonts */

.-font-primary {
  font-family: var(--font-primary);
}

.-font-secondary {
  font-family: var(--font-secondary);
}

.-font-third {
  font-family: var(--font-third);
}

/* Utility classes for sectionSpacings */

.pb-space-section-none {
  padding-bottom: var(--space-section-none) !important;
}

.pt-space-section-none {
  padding-top: var(--space-section-none) !important;
}

.pb-space-section-sm {
  padding-bottom: var(--space-section-sm) !important;
}

.pt-space-section-sm {
  padding-top: var(--space-section-sm) !important;
}

.pb-space-section-md {
  padding-bottom: var(--space-section-md) !important;
}

.pt-space-section-md {
  padding-top: var(--space-section-md) !important;
}

.pb-space-section-lg {
  padding-bottom: var(--space-section-lg) !important;
}

.pt-space-section-lg {
  padding-top: var(--space-section-lg) !important;
}

/* Utility classes for spacings */

.mb-space-none {
  margin-bottom: var(--space-none);
}

.mb-space-2xs {
  margin-bottom: var(--space-2xs);
}

.mb-space-xs {
  margin-bottom: var(--space-xs);
}

.mb-space-sm {
  margin-bottom: var(--space-sm);
}

.mb-space-md {
  margin-bottom: var(--space-md);
}

.mb-space-lg {
  margin-bottom: var(--space-lg);
}

.mb-space-xl {
  margin-bottom: var(--space-xl);
}

.mb-space-2xl {
  margin-bottom: var(--space-2xl);
}

.mb-space-3xl {
  margin-bottom: var(--space-3xl);
}

.mb-space-4xl {
  margin-bottom: var(--space-4xl);
}

.mb-space-5xl {
  margin-bottom: var(--space-5xl);
}
