$sectionSpacings: (
  space-section-none: var(--space-section-none),
  space-section-sm: var(--space-section-sm),
  space-section-md: var(--space-section-md),
  space-section-lg: var(--space-section-lg)
);
