.pt-space-section-none {
  padding-top: var(--space-section-none);
}

.pb-space-section-none {
  padding-bottom: var(--space-section-none);
}

.pt-space-section-sm {
  padding-top: var(--space-section-sm);
}

.pb-space-section-sm {
  padding-bottom: var(--space-section-sm);
}

.pt-space-section-md {
  padding-top: var(--space-section-md);
}

.pb-space-section-md {
  padding-bottom: var(--space-section-md);
}

.pt-space-section-lg {
  padding-top: var(--space-section-lg);
}

.pb-space-section-lg {
  padding-bottom: var(--space-section-lg);
}
