.section {
  padding: $space-lg 0;

  .title {
    margin-bottom: $space-section-sm;
    grid-column: span 12;
    color: $neutral-400;
  }

  .content {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
  }
}
