.card_team {
  position: relative;
  padding: $space-md;
  border-radius: $radius-small;
  display: flex;
  flex-direction: column;
  background-color: $neutral-300;

  .image {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: $radius-small;
    padding-top: 100%;
    margin-bottom: $space-sm;

    .image_img {
      object-position: top center;
    }
    @include tablet {
      height: 22.875rem;
    }
  }

  .categories {
    margin: $space-md 0;
    display: flex;
    flex-direction: column;

    .category {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    .category_divider {
      margin: $space-sm 0;
      height: 2px;
      background-color: $neutral-600;
      width: 100%;
    }
  }
}
