:root {
  --base: 16;
  --container-gutter: 1.5rem;
  --page-width: 2000px;
  --padding-global: 1.5rem;
  --padding-vertical-none: 0;
  --padding-vertical-sm: 2rem;
  --padding-vertical-md: 4rem;
  --padding-vertical-lg: 8rem;
}

@media (max-width: 1023px) {
  :root {
    --container-gutter: 1rem;
    --padding-global: 1rem;
    --padding-vertical-sm: 1.5rem;
    --padding-vertical-md: 3rem;
    --padding-vertical-lg: 6rem;
  }
}
