$base: var(--base);
$container-gutter: var(--container-gutter);
$page-width: var(--page-width);
$padding-global: var(--padding-global);
$padding-vertical-none: var(--padding-vertical-none);
$padding-vertical-sm: var(--padding-vertical-sm);
$padding-vertical-md: var(--padding-vertical-md);
$padding-vertical-lg: var(--padding-vertical-lg);
