.mb-space-none {
  margin-bottom: var(--space-none);
}

.h-space-none {
  height: var(--space-none);
}

.mb-space-2xs {
  margin-bottom: var(--space-2xs);
}

.h-space-2xs {
  height: var(--space-2xs);
}

.mb-space-xs {
  margin-bottom: var(--space-xs);
}

.h-space-xs {
  height: var(--space-xs);
}

.mb-space-sm {
  margin-bottom: var(--space-sm);
}

.h-space-sm {
  height: var(--space-sm);
}

.mb-space-md {
  margin-bottom: var(--space-md);
}

.h-space-md {
  height: var(--space-md);
}

.mb-space-lg {
  margin-bottom: var(--space-lg);
}

.h-space-lg {
  height: var(--space-lg);
}

.mb-space-xl {
  margin-bottom: var(--space-xl);
}

.h-space-xl {
  height: var(--space-xl);
}

.mb-space-2xl {
  margin-bottom: var(--space-2xl);
}

.h-space-2xl {
  height: var(--space-2xl);
}

.mb-space-3xl {
  margin-bottom: var(--space-3xl);
}

.h-space-3xl {
  height: var(--space-3xl);
}

.mb-space-4xl {
  margin-bottom: var(--space-4xl);
}

.h-space-4xl {
  height: var(--space-4xl);
}

.mb-space-5xl {
  margin-bottom: var(--space-5xl);
}

.h-space-5xl {
  height: var(--space-5xl);
}
