.range_slider {
  display: flex;
  flex-direction: column;
  gap: $space-md;

  .label {
    font-weight: 700;
    margin-bottom: $space-xs;
  }

  .output {
    display: flex;
    justify-content: center;
  }

  .track {
    height: 0.125rem;
    background-color: $primary-300;
    width: 100%;
    border-radius: $radius-full;

    .thumb {
      width: 1.5rem;
      height: 1.5rem;
      border: 0.125rem solid $neutral-300;
      background-color: $neutral-100;
      border-radius: $radius-round;
      cursor: pointer;
      transition:
        border-color,
        calc($duration-base / 2) $out-cubic,
        scale,
        calc($duration-base / 2) $out-cubic;

      &[data-dragging] {
        border-color: $primary-300;
        scale: 0.9;
      }
    }
  }
}
