.footer {
  padding: $space-section-sm 0;

  .footer_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: $space-lg;
  }

  .footer_wrap {
    padding: $space-lg $padding-global;
    display: grid;
    grid-template-columns: 35.5rem 1fr;
    column-gap: $space-2xl;
    background-color: $neutral-600;
    color: $neutral-100;
    border-radius: $radius-small;
    grid-column: span 12;
    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  .left_box {
    display: flex;
    flex-direction: column;
    row-gap: $space-lg;
    align-items: flex-start;

    .logo {
      width: 13.25rem;

      @include tablet {
        width: 9.625rem;
      }
    }
  }

  .right_box {
    display: flex;
    flex-direction: column;
    row-gap: $space-md;
    align-self: end;

    .footer_links {
      display: grid;
      grid-template-columns: auto;
      grid-auto-flow: column;
      padding: $space-md 0;
      border-top: 0.125rem solid $neutral-500;
      border-bottom: 0.125rem solid $neutral-500;
      justify-items: start;
      column-gap: 0;

      @include tablet {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 0;
        margin: 2.5rem 0 0;
      }

      .footer_link_wrap {
        display: flex;

        @include tablet {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .footer_link {
        color: $primary-300;

        &:hover {
          color: $primary-200;
        }
      }

      .link_spacer {
        height: 100%;
        width: 0.125rem;
        background-color: $neutral-500;
        margin: 0 1.5rem;
        @include tablet {
          height: 2px;
          width: 100%;
          margin: $space-md 0;
        }
      }
    }

    .footer_contact {
      display: grid;
      grid-template-columns: auto;
      grid-auto-flow: column;
      column-gap: 1.5rem;
      align-items: center;

      @include tablet {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
      }

      .footer_contact_list_wrap {
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        column-gap: $container-gutter;
        justify-self: start;

        @include tablet {
          grid-template-columns: 1fr;
          grid-auto-flow: row;
          gap: 1rem;
          margin-bottom: 1rem;
        }
      }

      .footer_contact_list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .tel {
        font-weight: 400 !important;
      }
    }

    .socials_links {
      display: grid;
      grid-template-columns: auto;
      grid-auto-flow: column;
      column-gap: 1.5rem;
      justify-self: end;

      @include tablet {
        justify-self: start;
      }

      .social_icon {
        color: $primary-300;
      }
    }
  }

  .partners {
    grid-column: span 12;
    background-color: $neutral-300;
    border-radius: $radius-small;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: $space-lg $padding-global;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      row-gap: $space-lg;
    }

    .partners_logos {
      display: grid;
      align-self: center;
      grid-template-columns: auto;
      grid-auto-flow: column;
      column-gap: $space-xl;
      align-items: center;
      @include mobile {
        align-self: start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        row-gap: $space-lg;
        justify-items: center;
      }

      .partner_logo {
        max-width: 8rem; /* Set a maximum width */
        max-height: 3rem; /* Set a maximum height */
        width: auto;
        height: auto;
        object-fit: contain; /* Maintain aspect ratio */
        display: block;
        margin: 0 auto; /* Center align logos */
        @include tablet {
          max-width: 6rem;
          max-height: 2.25rem;
        }
        @include mobile {
          max-width: 8rem; /* Set a maximum width */
          max-height: 3rem; /* Set a maximum height */
        }
      }

      .partner {
        display: inline-block; /* Ensure logos are aligned horizontally */
        text-align: center; /* Center content */
        &.partner_link {
          transition: transform $duration-base $out-cubic;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
