.footer {
  padding: 0 0 $padding-vertical-md;
  background-color: $primary-400;
  color: $neutral-100;

  .logo {
    grid-column: span 12;
    color: $primary-300;
    margin-bottom: $padding-vertical-md;
  }

  .label {
    @include text-small;
    opacity: 0.4;
    text-transform: uppercase;
  }

  .contact,
  .links,
  .copy,
  .socials {
    grid-column: span 6;
  }

  .links {
    @include flex(column, flex-start, flex-start);
    gap: $space-md;
    width: 100%;

    .links_list_wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      .links_list {
        @include flex(column, flex-start, flex-start);
        gap: $space-sm;

        .button {
          [data-line] {
            background-color: $neutral-100;
          }
        }
      }
    }
  }

  .footer_bottom {
    margin-top: $space-4xl;
    align-items: center;

    .copy {
      color: $primary-200;
    }

    .socials_list {
      @include flex(row, flex-start, center);
      gap: $space-md;
    }
  }
}
