@mixin label {
  @include text-small;
  opacity: 0.4;
  text-transform: uppercase;
}

@mixin animation {
  transition: transform $duration-base $out-cubic;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

.footer {
  padding: 0 0 $padding-vertical-md;
  background-color: $primary-400;
  color: $neutral-100;

  .logo {
    grid-column: span 12;
    color: $primary-300;
    margin-bottom: $padding-vertical-md;
  }

  .label {
    @include label;
  }

  .contact,
  .links,
  .copy,
  .socials {
    grid-column: span 6;
  }

  .links {
    @include flex(column, flex-start, flex-start);
    gap: $space-md;
    width: 100%;

    .links_list_wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      .links_list {
        @include flex(column, flex-start, flex-start);
        gap: $space-sm;

        .button {
          [data-line] {
            background-color: $neutral-100;
          }
        }
      }
    }
  }

  .footer_bottom {
    margin-top: $space-4xl;
    align-items: center;

    .copy {
      color: $primary-200;
    }

    .socials_list {
      @include flex(row, flex-start, center);
      gap: $space-md;

      .social {
        @include animation;
      }
    }
  }
}

.partners {
  padding: $padding-global;

  .label {
    @include label;
    grid-column: span 12;
  }

  .partner_wrap {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: span 12;
    align-items: center;
    gap: $space-2xl;

    .partner_highlight {
      width: 9.75rem;
      max-height: 9.75rem;
      display: block;
      @include animation;
    }

    .partners {
      @include flex(row, center, center);
      gap: $space-2xl;
      justify-self: end;

      .partner {
        max-width: 4rem;
        max-height: 4rem;
        display: block;
        @include animation;
      }
    }
  }
}
