.button {
  border-radius: $radius-round;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 3px solid;
  position: relative;
  overflow: hidden;
  transition:
    background-color $duration-base $out-cubic,
    border-color $duration-base $out-cubic,
    color $duration-base $out-cubic,
    opacity $duration-base $out-cubic;

  &.icon_animation_rotate {
    .icon {
      transition: transform $duration-base $out-cubic;
    }

    &:hover,
    &.hover,
    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  &.variant_fill {
    background-color: $primary-300;
    color: $white;
    border-color: $primary-300;

    &:hover,
    &.hover,
    &.active {
      background-color: $primary-400;
      border-color: $primary-400;
    }

    &.on_image {
      background-color: $white;
      color: $black;
      border-color: $white;

      &:hover,
      &.hover,
      &.active {
        opacity: 0.8;
      }
    }
  }

  &.variant_outline {
    border-color: $neutral-300;
    background-color: $neutral-100;

    &:hover,
    &.hover,
    &.active {
      background-color: $neutral-200;
      border-color: $neutral-600;
    }
  }

  &.variant_ghost {
    border: 1px solid transparent;

    &:hover,
    &.hover,
    &.active {
      background-color: $neutral-200;
    }
  }

  &.size_small {
    width: 2.25rem;
    height: 2.25rem;

    .icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.size_medium {
    width: 2.5rem;
    height: 2.5rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &.size_large {
    width: 3rem;
    height: 3rem;

    .icon {
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  &.disabled {
    pointer-events: none !important;
    opacity: 0.5 !important;
  }
}
