.section {
  padding: $space-section-sm 0;

  .form {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $space-lg;
    align-items: start;

    .col_6 {
      grid-column: span 6;
      @include tablet {
        grid-column: span 6;
      }
    }

    .col_3 {
      grid-column: span 3;
      @include tablet {
        grid-column: span 6;
      }
    }

    .col_2 {
      grid-column: span 2;
      @include tablet {
        grid-column: span 6;
      }
    }
  }
}

.privacy {
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.success_wrap {
  grid-column: span 12;
  min-height: 15rem;
  background-color: $neutral-300;
  border-radius: $radius-small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5.5rem 0;
  row-gap: 1.5rem;
  @include tablet {
    padding: $space-lg $space-md;
  }
  @include mobile {
    padding: $space-lg $padding-global;
  }
}
