.card_office {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: $space-sm 0;
  cursor: pointer;

  .content {
    display: flex;
    flex-direction: column;
    row-gap: $space-xs;
  }

  .button {
    align-self: end;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: $neutral-600;
}
