.select_field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .label {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.75rem */
  }

  .icon_state {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $duration-base $out-cubic;
    position: absolute;
    right: 1rem;
    top: 1rem;

    &.is_open {
      transform: rotate(180deg);
    }
  }

  .select_trigger {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    padding: 0.5rem 1rem;
    border: 1px solid $neutral-300;
    border-radius: $radius-small;
    cursor: pointer;
    transition:
      border-color $duration-base $out-cubic,
      background-color $duration-base $out-cubic;

    &:hover {
      background: $neutral-200;
    }

    &.focused {
      border-color: $primary-300;
    }
  }

  .placeholder {
    color: $neutral-400;
  }

  .error {
    color: $primary-300;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}

.popover {
  position: absolute;
  z-index: 10;
  background: $neutral-200;
  border: 1px solid $neutral-400;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  border-radius: $radius-small;
  max-height: 12rem;
  overflow-y: auto;
}

.listbox {
  list-style: none;
  margin: 0;
  padding: 0;

  .option {
    cursor: pointer;
    padding: $space-sm $space-md;
    transition:
      background-color $duration-base $out-cubic,
      color $duration-base $out-cubic;

    &:hover {
      background: $neutral-400;
      color: white;
    }

    &.selected {
      background: $primary-300;
      color: white;
    }
  }
}
