.dropdowns {
  padding-right: $space-lg;

  .nav_dropdown_item {
    display: flex;

    padding: $space-md 0;
    @include tablet {
      padding-bottom: $space-sm;
    }
  }

  .title {
    width: 50rem;
    display: flex;
    justify-content: flex-start;
    @include h3;
    text-transform: uppercase;
    color: $primary-400;
    cursor: pointer;
    opacity: 0.5;
    transition:
      transform $duration-base $out-cubic,
      opacity $duration-base $out-cubic;

    &[data-open='true'] {
      transform: translateX(3rem);
      opacity: 1;
      pointer-events: none;
    }
  }

  .body {
    position: absolute;
    right: 0;
    top: 0;
    width: 30rem;
    height: calc(100% - 7rem);
    padding-top: 1.75rem;

    .links {
      display: flex;
      flex-direction: column;
      gap: $space-md;
      align-items: start;

      .link {
        @include text-large;

        [data-line] {
          background-color: $primary-400 !important;
        }
      }
    }

    .image {
      position: absolute;
      bottom: 2rem;
      width: 100%;
      padding-top: 60%;
    }
  }
}
