.header {
  width: 100vw;
  z-index: 500;
  position: fixed !important;
  top: 0;
  left: 0;
  pointer-events: none;
  transition:
    transform $duration-base $out-cubic,
    color $duration-base $out-cubic;

  &[data-color='light'] {
    color: $neutral-100;
  }

  .bg {
    background-color: $white;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    transition: background-color $duration-base $out-cubic;

    &[data-color='light'] {
      background-color: $black;
    }
  }

  .container {
    padding: $padding-global 0;
    align-items: start;
    @include tablet {
      padding: 1rem 0;
    }

    .open {
      pointer-events: all;
      grid-column: span 4;
      justify-self: start;
      cursor: pointer;
      @include tablet {
        @include text-btn;
      }
      @include mobile {
        grid-column: span 12;
        justify-self: center;
      }
    }

    .logo {
      grid-column: span 4;
      width: 8.3125rem;
      pointer-events: all;
      justify-self: center;
      @include mobile {
        width: 6.8125rem;
        grid-column: span 12;
        margin-top: $container-gutter;
      }

      &.disabled {
        pointer-events: none;
      }
      @include tablet {
        width: 9.625rem;
      }
    }

    .buttons_wrap {
      grid-column: span 4;
      justify-self: end;
      pointer-events: all;
      @include flex(row, center, center);
      gap: $space-md;
      @include tablet {
        display: none;
      }

      .buttons {
        @include flex(row, center, center);
        gap: $space-sm;
        padding: $space-sm;
        overflow: hidden;
        border-radius: $radius-medium;
        position: relative;

        .buttons_overlay {
          backdrop-filter: blur(2px);
          background-color: $white;
          opacity: 0.2;
          inset: 0;
          position: absolute;
          width: 100%;
          height: 100%;

          &[data-color='light'] {
            background-color: $black;
          }
        }

        .button_1 {
          border-color: $black;
          color: $black;
          border-radius: $radius-medium;
          transition:
            background-color $duration-base $out-cubic,
            border-color $duration-base $out-cubic;

          &[data-light='true'] {
            border-color: $white;
            color: $white;

            &:hover {
              color: $black;
            }
          }
        }

        .button_2 {
          background-color: $black;
          border-color: $black;
          color: $white;
          border-radius: $radius-medium;

          transition:
            background-color $duration-base $out-cubic,
            border-color $duration-base $out-cubic;

          &:hover {
            background-color: $primary-400;
            border-color: $primary-400;
          }

          &[data-light='true'] {
            background-color: $white;
            border-color: $white;
            color: $black;

            &:hover {
              background-color: $primary-100;
              border-color: $primary-100;
            }
          }
        }
      }
    }
  }

  &[data-hidden='true'] {
    transform: translateY(-100%);
  }
}
