.header {
  width: 100vw;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: transform $duration-base $out-cubic;
  background-color: $neutral-200;

  .container {
    padding: 1.5rem 0;
    align-items: center;
    @include tablet {
      padding: 1rem 0;
    }

    .logo {
      grid-column: span 6;
      width: 16.75rem;
      pointer-events: all;

      &.disabled {
        pointer-events: none;
      }
      @include tablet {
        width: 9.625rem;
      }
    }

    .open {
      pointer-events: all;
      grid-column: span 6;
      justify-self: end;
      cursor: pointer;
      @include tablet {
        @include text-btn;
      }
    }
  }

  &[data-hidden='true'] {
    transform: translateY(-100%);
  }
}
