.modal {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  display: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  z-index: 600;
  background-color: $primary-100;

  .bg {
    background-color: $neutral-600;
    opacity: 0.25;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    height: 100dvh;
  }

  .modal_inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: $primary-100;
    padding: $space-lg;
    color: $primary-300;
    @include tablet {
      width: 100%;
    }

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 4rem;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: $primary-300;
    }

    .modal_content {
      display: grid;
      grid-template-columns: 47.5rem 1fr;
      height: 100%;
      overflow-y: scroll;
      padding: $space-md 0;
      @include tablet {
        grid-template-columns: 1fr;
      }

      .menu {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        align-self: start;

        .menu_item {
          @include h3;
          text-transform: uppercase;
          padding: $space-sm 0;
        }
      }

      .dropdowns {
        height: 100%;
        overflow-y: scroll;
        padding-right: 1.5rem;
      }
    }
  }

  .lang_switch {
    position: absolute;
    bottom: $space-lg;
    right: $space-lg;
  }

  &[data-active='true'] {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
}
