.section {
  padding: $space-section-lg 0;

  .content {
    grid-column: 3 / span 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: $space-lg;

    @include tablet {
      grid-column: 1 / span 12;
    }

    .col {
      width: 30rem;

      @include tablet {
        width: 100%;
      }
    }

    .cols {
      display: grid;
      grid-template-columns: repeat(2, 25rem);
      gap: $container-gutter;

      @include tablet {
        grid-template-columns: 1fr;
      }
    }
  }
}
