.section,
.section_detail {
  padding: $padding-vertical-lg 0 $padding-vertical-sm;

  .container {
    padding-top: $space-5xl;

    .overline {
      grid-column: 2 / span 8;
      margin-bottom: $space-md;
      color: $neutral-400;
      @include tablet {
        grid-column: 1 / -1;
      }
    }

    .title {
      grid-column: 2 / span 8;
      text-transform: uppercase;
      @include tablet {
        grid-column: 1 / -1;
      }
    }

    .text {
      @include rich-text;
      margin-top: $space-md;
      grid-column: 2 / span 5;
      @include tablet {
        grid-column: 1 / -1;
      }
    }
  }
}

.section_detail {
  padding-bottom: 0;
}
