@mixin opacity-transition {
  transition: opacity $duration-fast $out-cubic;
}

.cursor {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 750;
  @include opacity-transition;

  @include mobile {
    display: none;
  }

  &.active {
    opacity: 1;
  }

  .default {
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary-200;
    border-radius: 100%;
    @include opacity-transition;
  }

  .cursor_slider_cards {
    width: 6.5rem;
    height: 6.5rem;
    @include flex(column, center, center);
    border: 1px solid $white;
    backdrop-filter: blur(8px);
    border-radius: $radius-full;
    @include opacity-transition;

    .cursor_slider_cards_inner {
      width: 5.5rem;
      height: 5.5rem;
      @include flex(column, center, center);
      background-color: $white;
      border-radius: $radius-full;
      opacity: 0.6;
    }

    .cursor_slider_cards_icon {
      position: absolute;
      width: 4rem;
      height: 4rem;
    }
  }

  &[data-type='none'] {
    .cursor_slider_cards,
    .default {
      opacity: 0;
    }
  }

  &[data-type='default'] {
    .cursor_slider_cards {
      opacity: 0;
    }
  }

  &[data-type='card-package'] {
    .default {
      opacity: 0;
    }
  }
}
