.cursor {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 750;
  transition: opacity 0.2s $out-cubic;

  @include mobile {
    display: none;
  }

  &.active {
    opacity: 1;
  }

  .default {
    width: 0.5rem;
    height: 0.5rem;
    background-color: $primary-200;
    border-radius: 100%;
  }

  .theme {
    width: 1rem;
    height: 1rem;
    color: $neutral-600;
    position: relative;

    @include auto-alpha;

    svg {
      position: absolute;
      top: var(--xxs);
      left: var(--xxs);
      transition: opacity $duration-base $out-cubic;
    }
  }

  &[data-theme='light'] {
    [data-sun] {
      opacity: 0;
    }

    [data-moon] {
      opacity: 1;
    }
  }

  &[data-theme='dark'] {
    [data-sun] {
      opacity: 1;
    }

    [data-moon] {
      opacity: 0;
    }
  }

  &[data-theme='auto'] {
    @media (prefers-color-scheme: dark) {
      [data-sun] {
        opacity: 1;
      }

      [data-moon] {
        opacity: 0;
      }
    }

    @media (prefers-color-scheme: light) {
      [data-sun] {
        opacity: 0;
      }

      [data-moon] {
        opacity: 1;
      }
    }
  }
}
