.section {
  padding: $space-section-md 0;

  .col {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    row-gap: $space-xl;
    @include tablet {
      grid-column: span 12;
    }
  }

  .sidebar {
    grid-column: 9 / span 4;
    @include tablet {
      display: none;
    }
    align-self: start;

    &.sidebar_sticky {
      position: sticky;
      top: 6rem;
    }
  }

  .mobile_sidebar {
    display: none;
    @include tablet {
      @include fluid;
      padding: $space-md $padding-global;
      grid-column: span 12;
      position: sticky;
      bottom: 0;
      margin-top: 2rem; /* Optional spacing above the button */
      display: flex;
      justify-content: center; /* Center the button */
      background: $neutral-200; /* Optional: Background color */
      z-index: 10; /* Ensure it appears above other content */

      .button {
        flex-grow: 1;
      }
    }
  }
}
