.section {
  padding: $space-section-md 0;

  .title {
    grid-column: 2 / span 5;
  }

  .accordion {
    grid-column: 7 / span 5;

    .accordion_title {
      @include h4;
      text-transform: uppercase;
    }
  }
}
