.section {
  padding: $space-section-md 0;

  .title {
    grid-column: 2 / span 5;
    @include tablet {
      grid-column: 1 / span 12;
      margin-bottom: $space-md;
    }
  }

  .accordion {
    grid-column: 7 / span 5;
    @include tablet {
      grid-column: 1 / span 12;
    }

    .accordion_title {
      @include h4;
      text-transform: uppercase;
    }
  }
}
