.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $neutral-100;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  [data-logo] {
    @include auto-alpha;
  }

  .logo {
    color: $white;
    width: 15rem;
    height: 8.7rem;
    overflow: hidden;
    position: relative;
  }
}
