:root {
  --white: #fff;
  --black: #000;
  --neutral-100: #f6f0ec;
  --neutral-200: #e8e2df;
  --neutral-300: #dad0c9;
  --neutral-400: #766a62;
  --neutral-500: #29211c;
  --neutral-600: #1f130b;
  --primary-100: #cce1e8;
  --primary-200: #a8cbd7;
  --primary-300: #36606e;
  --primary-400: #284853;
}
