.section {
  padding: 10rem 0 4rem;

  display: flex;
  align-items: center;

  @include tablet {
    padding: 6rem 0 1.5rem;
    min-height: auto;
  }

  @include mobile {
    padding: 6rem 0 1.5rem;
    align-items: flex-start;
  }

  .left_col {
    @include grid-span-cols(8);
    @include tablet {
      grid-column: span 6;
    }

    @include mobile {
      grid-column: span 12;
      order: 2;
      margin-top: $space-section-sm;
    }

    &.is_default {
      display: flex;
      align-items: flex-end;
    }

    .left_col_bottom {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      margin-top: $space-sm;
      column-gap: $container-gutter;

      .hero_small_media {
        grid-column: span 3;
        height: 15.46rem;
        position: relative;
        overflow: hidden;
        border-radius: $radius-small;
        background-color: $neutral-300;
      }

      .text {
        grid-column: span 5;
        font-weight: 700;
      }
    }
  }

  .hero_media {
    grid-column: span 4;
    position: relative;
    overflow: hidden;
    border-radius: $radius-small;
    height: 37.37rem;
    background-color: $neutral-300;

    @include tablet {
      grid-column: span 6;
      height: 27.1875rem;
    }

    @include mobile {
      grid-column: span 12;
      height: 26.8125rem;
      order: 1;
    }
  }
}

.breadcrumb {
  grid-column: span 12;
  justify-self: start;
}
