.section {
  background-color: $primary-300;
  color: $neutral-100;
  min-height: 56.25rem;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  .imageGallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainWrapper {
    height: 56.25rem;
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    place-items: center center;
  }

  .image {
    @include object-fit-wrap;
    position: absolute;

    .image_inner {
      width: 100%;
      height: 100%;
    }

    &.image_1 {
      width: 28rem;
      height: 18.66669rem;
      top: 0;
      right: $padding-global;
      @include tablet {
        width: 14rem;
        height: 9.33331rem;
      }
    }

    &.image_2 {
      width: 20.625rem;
      height: 25.78125rem;
      bottom: 2rem;
      right: 4rem;
      @include tablet {
        display: none;
      }
    }

    &.image_3 {
      width: 20.625rem;
      height: 13.75rem;
      left: 8.87rem;
      bottom: 1.5rem;
      @include tablet {
        width: 14.8125rem;
        height: 9.875rem;
        left: auto;
        right: $padding-global;
      }
    }

    &.image_4 {
      width: 18rem;
      height: 22.5rem;
      bottom: 9.75rem;
      left: $padding-global;
      @include tablet {
        width: 11.1875rem;
        height: 13.98438rem;
        bottom: 2.7rem;
      }
    }

    &.image_5 {
      width: 20.625rem;
      height: 13.75rem;
      top: 2.25rem;
      left: 16.25rem;
      @include tablet {
        top: 8rem;
        left: $padding-global;
        width: 11.25rem;
        height: 7.5rem;
      }
    }
  }

  .content {
    position: relative;
    @include grid-span-cols(12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $space-md;
    padding: 0 $space-3xl;
    text-align: center;

    .text {
      @include rich-text;
      margin-bottom: $space-lg;
      max-width: 20rem;
      @include tablet {
        max-width: 100%;
      }
    }
  }
}
