.section {
  padding: $space-section-md 0;

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $container-gutter;
    grid-column: span 12;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .top_bar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column: span 12;
    padding: $space-section-sm 0;
    align-items: center;
  }

  .button_apply {
    display: flex;
    justify-content: center;
    align-items: center;

    &[data-pending='true'] {
      padding: 0.2rem;
      border-radius: $radius-full;
      border: 2px solid $primary-300;
    }
  }

  .modal_cehckboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: $space-md;
  }

  .accordion_title {
    @include text-main;
  }

  .modal_bottom {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    padding: $space-lg 0;
    display: flex;
    justify-content: flex-end;
    gap: $container-gutter;
  }

  .load_more {
    grid-column: span 12;
    justify-content: start;
    margin-top: $space-md;
  }
}

.not_found {
  display: flex;
  flex-direction: column;
  grid-column: span 12;
  background-color: $neutral-300;
  border-radius: $radius-small;
  place-items: center center;
  padding: 5.5rem 0;
  row-gap: 1.5rem;
  @include tablet {
    padding: $space-lg $space-md;
  }
  @include mobile {
    padding: $space-lg $padding-global;
  }
}
